# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Data & models (keep raw small sample if you want)
models/
data/*.zip
data/*.parquet

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Streamlit
.streamlit/
